<h1>サインアップ</h1>

<% if @user.errors.present? %>
  <ul id="error_explanation">
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @user, local: true do |f| %>
    <div class='form-group'>
    <%= f.label :name%>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :email%>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <div class="mb-3"></div>
  <p>現在の1RMの記録を入力してください<br>
    (後から変更可能です)
  </p>
  <div class='form-group'>
    <%= f.label :benchpress %>
    <%= f.number_field :benchpress, :placeholder => "単位：kg" ,class: 'form-control max' , step: "0.1" %>
    <%= f.label :benchpress, 'kg' %>
  </div>
  <div class='form-group'>
    <%= f.label :squat, 'スクワット　' %>
    <%= f.number_field :squat, :placeholder => "単位：kg" , class: 'form-control max' , step: "0.1" %>
    <%= f.label :squat, 'kg' %>
  </div>
  <div class='form-group'>
    <%= f.label :deadlift %>
    <%= f.number_field :deadlift, :placeholder => "単位：kg" , class: 'form-control max' , step: "0.1" %>
    <%= f.label :deadlift, 'kg' %>
  </div>
  <div class="mb-3"></div>
  <%= f.submit "サインアップ", class: 'btn btn-primary' %>
<% end %>