<h1><%= current_user.name %></h1>

<%= form_with model: current_user, local: true do |f| %>
  <div class='form-group benchpress'>
    <%= f.label :benchpress, 'ベンチプレス' %>
    <%= f.number_field :benchpress, :placeholder => "単位：kg" ,class: 'form-control max' , step: "0.1" %>
    <%= f.label :benchpress, 'kg' %>
  </div>
  <div class='form-group squat'>
    <%= f.label :squat, 'スクワット　' %>
    <%= f.number_field :squat, :placeholder => "単位：kg" , class: 'form-control max' , step: "0.1" %>
    <%= f.label :squat, 'kg' %>
  </div>
  <div class='form-group deadlift'>
    <%= f.label :deadlift, 'デッドリフト' %>
    <%= f.number_field :deadlift, :placeholder => "単位：kg" , class: 'form-control max' , step: "0.1" %>
    <%= f.label :deadlift, 'kg' %>
  </div>
  <%= f.submit "更新",id: "update_button", class: 'btn btn-primary' %>
<% end %>

<div class="mb-5"></div>

<div class="text-center">

  <%= form_with scope: :search, url: user_path(current_user), method: "GET", local: true do |f| %>
    <div class='input-group'>
      <%= text_field_tag :search, params[:search], placeholder: "キーワード検索", class: "form-control" %>
      <span class="input-group-btn">
        <%= button_tag "検索", :name => nil, class: "btn btn-primary", id: "search_button" %>
      </span>
    </div>
  <% end %>
  <div class="mb-3"></div>
  <% if @youtube_data.present? %>
    <% @youtube_data.items.each do |item| %>
      <% snippet = item.snippet %>
      <div class="youtube-css"><iframe src="https://www.youtube.com/embed/<%= item.id.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <% end %>
  <% end %>
  <div class="mb-5"></div>
</div>