<h1>編集</h1>

<%= form_with model: @calendar, local: true do |f| %>
    <div class='form-group'>
    <%= f.label :start_time %><br>
    <%= @calendar.start_time.strftime("%Y年%m月%d日") %>
  </div>
    <div class='form-group'>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', id: 'colender_title' %>
  </div>
  <div class='form-group'>
    <%= f.label :memo %>
    <%= f.text_area :memo, class: 'form-control', id: 'colender_memo' %>
  </div>
    <div class='form-check'>
    <% if @calendar.workouted %>
      <%= f.check_box :workouted, {checked: true}, "true", "false" %>
    <% else %>
      <%= f.check_box :workouted, {checked: false}, "true", "false" %>
    <% end %>
    <%= f.label :workouted %>
  </div>
  <%= f.submit "編集", class: 'btn btn-primary' %>
<% end %>