<div>
  <div>現在MAX記録</div>
  <div class="benchpress_max">ベンチプレス：<%= current_user.benchpress %>kg</div><div class= "benchpress_update">(更新日：<%= current_user.benchpress_update.to_s(:datetime_jp) %>)</div>
  <div class="squat_max">スクワット　：<%= current_user.squat %>kg</div><div class= "squat_update">(更新日：<%= current_user.squat_update.to_s(:datetime_jp) %>)</div>
  <div class="deadlift_max">デッドリフト：<%= current_user.deadlift %>kg</div><div class= "deadlift_update">(更新日：<%= current_user.deadlift_update.to_s(:datetime_jp) %>)</div>
</div>
<% if @calendar.errors.present? %>
  <ul id="error_explanation">
    <% @calendar.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="mb-3"></div>
<%= form_with model: @calendar, local: true do |f| %>
  <div class="time">
    <%= f.label :start_time, class: 'control-label' %>
    <%= f.date_field :start_time, value: Date.today.strftime("%Y-%m-%d"), class: 'form-control' %>
  </div>
    <div class='form-group'>
    <%= f.label :title%>
    <%= f.text_field :title,:placeholder => "10文字以内で入力してください", class: 'form-control', id: 'colender_title' %>
  </div>
  <div class='form-group'>
    <%= f.label :memo%>
    <%= f.text_area :memo,:placeholder => "150文字以内で入力してください", class: 'form-control', id: 'colender_memo' %>
  </div>
    <div class='form-check'>
    <%= f.check_box :workouted, {checked: true}, "true", "false" %>
    <%= f.label :workouted %>
  </div>
  <%= f.submit "記録", class: 'btn btn-primary' %>
<% end %>
<%= month_calendar events: @calendars do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
    <div>
      <% if event.workouted %>
      <del id="del"><%= link_to "#{event.title}", calendar_path(event), class: 'nav-link memolink' %></del>
      <% else %>
      <%= link_to "#{event.title}", calendar_path(event), class: 'nav-link memolink' %>
      <% end %>
    </div>
  <% end %>
<% end %>