<div>
<p>
現在MAX記録<br>
スクワット　：200kg(更新日：2021年12月5日)<br>
ベンチプレス：150kg(更新日：2021年12月5日)<br>
デッドリフト：170kg(更新日：2021年12月5日)

</p>
<% if @colender.errors.present? %>
  <ul id="error_explanation">
    <% @colender.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: @colender, local: true do |f| %>
  <div class="time">
    <%= f.label :start_time, class: 'control-label' %>
    <%= f.date_field :start_time, value: Date.today.strftime("%Y-%m-%d"), class: 'form-control' %>
  </div>
    <div class='form-group'>
    <%= f.label :title%>
    <%= f.text_field :title, class: 'form-control', id: 'colender_title' %>
  </div>
  <div class='form-group'>
    <%= f.label :memo%>
    <%= f.text_area :memo, class: 'form-control', id: 'colender_memo' %>
  </div>
    <div class='form-check'>
    <%= f.check_box :workouted, {checked: true}, "true", "false" %>
    <%= f.label :workouted %>
  </div>
  <%= f.submit "記録", class: 'btn btn-primary' %>
<% end %>
<%= month_calendar events: @colenders do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
    <div>
      <% if event.workouted %>
      <del><%= link_to "#{event.title}", colender_path(event), class: 'nav-link' %></del>
      <% else %>
      <%= link_to "#{event.title}", colender_path(event), class: 'nav-link' %>
      <% end %>
    </div>
  <% end %>
<% end %>
</div>